{% extends 'base.html' %}
{% block title %}About{% endblock %}
{%block body%}
<h1>About</h1>
<p>
	1W1E is an initiative which helps the students across the globe to access the educational contents 
	available freely on the Internet such as from OpenCourseWares (OCW) easily and effectively.  
	We seek to engender a culture of openness in education to allow everyone, everywhere to access the education they desire, 
	while providing a shared body of knowledge and best practices that can be drawn upon for innovative and effective approaches.
</p>
<p>
	OpenCourseWare is the name given to open educational resources that are presented in course format, often including course 
	planning materials, such as syllabi and course calendars, along with thematic content, such as textbooks, lectures, 
	presentations, notes and simulations. Open Educational Resources are materials developed by experienced educators that are 
	available for use, repurposing, and modification (including translation), in whole or in part, by everyone, everywhere in the 
	world.
</p>
<p>
	Open Education is, at its core, about free and open sharing. 
	Free, meaning no cost, and open, which refers to the use of legal tools (open licenses) that give everyone permission to reuse 
	and modify educational resources.  Free and open sharing increases access to education and knowledge for anyone, 
	anywhere, anytime.  It allows people to make changes to materials or to combine resources in new ways to build something new.
	  Open Education incorporates free and open learning communities, educational networks, teaching and learning materials, 
	  open textbooks, open data, open scholarship, and on and on. Open Education gives people access to knowledge, provides 
	  platforms for sharing, enables innovation, and connects communities of learners and educators around the world.
	  Open Education seeks to scale educational opportunities by taking advantage of the power of the internet, allowing rapid 
	  and essentially free dissemination, and enabling people around the world to access knowledge, connect and collaborate. 
	  Open is key; open allows not just access, but the ability to modify and use materials, information and networks so education 
	  can be personalized to individual users or woven together in new ways for large and diverse audiences.
</p>
<p>
	This aims at bringing  together content from OCWs, video tutorials and PDF tutorials being currently offered, categorize and 
	index them in a suitably, bringing them under one umbrella for easy access. Currently there are several open courses and 
	tutorials which are distributed across numerous portals making it difficult for new students to search, compare and choose 
	the most suitable resource. Even courses with the same content vary in several ways including the university offering the
	 course, certification offered, time frame, complexity etc, given the lack of standardization it is a source of confusion.
</p>
<p>
	The essence of the proposed project lies in connecting  and cataloging all the course details, reviews and links under a 
	single portal . The integrated online platform (portal) can suggest the most appropriate courses for the  students based on 
	specific requirements and preferences. The new site with a user friendly interface and availability of resources at a single 
	point of contact. This approach would help in popularizing Open CourseWares and accelerating the new era of online education 
	in developing countries, where lack of access to learning material is a serious deterrent to many students. This mission can 
	empower students lacking proper resources to study advanced topics or simply provide a guideline to student lost amidst the 
	explosion of online education resources.
</p>
{%endblock%}
